{% extends "base.html" %}
{% load i18n %}
{% block page_title %}
    {{user.first_name}}의 마음에 든 숙소
{% endblock page_title %}

{% block content %}

        <div class="container xl:w-3/5 lg:w-2/3 md:w-3/4 mx-auto my-10 flex flex-col p-6 min-h-75vh">
            <h3 class="font-semibold text-lg border-b border-black mb-10 pb-6"> {% trans "마음에 든 숙소" %}{% if user.list.rooms.count != 0 %}({{user.list.rooms.count}}){% endif %}
            </h3>
            <div class="grid grid-cols-12 gap-5">
                {% for room in user.list.rooms.all  %}
                    {% include 'mixins/room_card.html' with room=room %}
                {% endfor %}
            </div>
        </div>

{% endblock content %} 